@font-face {
    font-family: 'KnewaveRegular';
    src: url('knewave-webfont.eot');
    src: url('knewave-webfont.eot?#iefix') format('embedded-opentype'),
         url('knewave-webfont.woff') format('woff'),
         url('knewave-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
  font-family: KnewaveRegular, sans-serif;
  font-weight: normal;
  font-size: 32px;
}

#intro, #gameover {
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: 2em 0;
  background: darkgrey;
  z-index: 9000;
  text-align: center;
}

.hidden {
  display: none;
}

.btn {
  font-family: inherit;
  padding: .6em 1em .4em;
  font-size: 1em;
  background: white;
  border: none;
  line-height: 1;
  border-radius: 5px;
}
.btn:hover,
.btn:active {
  background: grey;
  color: white;
}

.a-enter-vr-button {
  z-index: 8000 !important;
}
